*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.container{
  width: 1310px;
  margin: 0 auto;
}
.fl-row{
  display: flex;
  flex-direction: row;
}
.jc-sp-bw{
  justify-content: space-between;
}
.j-c{
  justify-content: center;
}
.a-c{
  align-items: center;
}
.fr-title{
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: 90px;
}

.section{
  padding-bottom: 40px;
  margin-bottom: 40px;
}
.section-title{
  color: #6E7491;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
}
.p-bold{
  color: #605DEC;
}
.g-bold{
  background: linear-gradient(180deg, #5CD6C0 0%, #22C3A6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section-header a{
  cursor: pointer;
}
.all{
  color:  #A1B0CC;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
}
.arrow{
  margin-left: 4px;
  display: inline-block;
}
.section-header{
  margin: 40px 0 24px 0;
}
.item-title{
  color: #6E7491;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
}
.item-link:hover{
  text-decoration: underline;
  transition: all .5s;
}
.item-price{
  color:  #6E7491;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
}
.item-text{
  color:  #7C8DB0;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.section-items{
  display: grid;
  grid-template-columns: repeat(3, 410px);
  gap: 40px;
}
.section-item{
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.05), 0px 2px 4px 0px rgba(28, 5, 77, 0.10);
}
.item-body{
  padding: 24px 16px;
}
.item-img{
  border-radius: 12px 12px 0 0;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../font/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf");
}

@media screen and (max-width: 1360px) {
  .container{
    width: 1240px;
  }
  .section-item {
    width: 386px;
  }
  .item-img {
    width: 100%;
  }
  .section-items {
    grid-template-columns: repeat(3, 386px);
  }
}